* {
  margin: 0px;
  padding: 0px;
  font-family: "Mukta", sans-serif;
}

body,
header {
  background-color: #f1f2f4;
}

.containerr {
  width: 80%;
  margin: 0;
}


header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  margin-left: 3%;
  float: left;
  padding: 10px;
  height: 50px;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 90%;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 4%;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: #666;
  text-decoration: none;
  font: 400 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  border-radius: 5px;
  background-color: #ff9600;
  position: absolute;
  bottom: -7px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 125%;
}

.title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 3%;
}

.title:hover {
  color: #000;
}

.title::before {
  content: "";
  display: block;
  height: 2px;
  border-radius: 5px;
  background-color: #ff9600;
  position: relative;
  bottom: -35px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.title:hover::before {
  width: 15%;
}

p {
  line-height: 2;
  margin: 0 1%;
  padding: 1% 3%;
  color: #181818;
  font-size: 1.15em;
  font-weight:300;
}

#Home {
  width: 100%;
  height: 95vh;

}

/* seccion nosotros */

#Nosotros .about {
  width: 50%;  
  float:left; 
  position: absolute;
}

.about p {
line-height: 2;
margin: 0 1%;
padding: 3% 3% 3% 7%;
color: #181818;
font-size: 1.15em;
font-weight:300;
}

#Nosotros img {
  margin-left: 50%;
  margin-bottom: 3%;
  width: 43%;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#Nosotros img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*fin de seccion nosotros */

/* seccion servicios */
#servicio {
  width: 100%;
  height: 500px;
}

.servi {
  width: 50%;  
  float:left; 
  position: absolute;
}

.servi p {
line-height: 2;
margin: 0 1%;
padding: 3% 3% 3% 7%;
color: #181818;
font-size: 1.15em;
font-weight:300;
}

#servisvg {
  width: 40%;
  margin: 2% 5%;
  margin-left: 20%;
}


.containerServi {
  margin-left: 52%;
  width: 42%;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.iteM {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  margin: 0 10px;
  border-radius: 30px;
}

.iteM:hover {
  flex: 7;

  border-radius: 15px;
}

.iteM-1 {
  background-image: url("../recursos/pexels-mikhail-nilov-6944350.jpg");
}

.iteM-2 {
  background-image: url("../recursos/pexels-mikhail-nilov-6944355.jpg");
}

.iteM-3 {
  background-image: url("../recursos/pexels-mikhail-nilov-6944184.jpg");
}

.iteM-4 {
  background-image: url("../recursos/pexels-mikhail-nilov-6945066.jpg");
}

.iteM-5 {
  background-image: url("../recursos/pexels-mikhail-nilov-6944915.jpg");
}


/* fin seccion servicios */

/* seccion testimonio */

.testi {
  width: 35%;  
  float:left; 
  position: absolute;
}

.testi p {
line-height: 2;
margin: 0 1%;
padding: 3% 7% 3% 10%;
color: #181818;
font-size: 1.15em;
font-weight:300;
}

#testisvg {
  width: 60%;
  margin: 5% 5% 0;
  margin-left: 20%;
}

body .options {
  margin: 3% auto;
  margin-left: 35%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  body .options {
    min-width: 520px;
  }
  body .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  body .options {
    min-width: 440px;
  }
  body .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  body .options {
    min-width: 360px;
  }
  body .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  body .options {
    min-width: 280px;
  }
  body .options .option:nth-child(2) {
    display: none;
  }
}
body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 20px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option:nth-child(1) {
  --defaultBackground:#758bfd;
}
body .options .option:nth-child(2) {
  --defaultBackground:#ff9600;
}
body .options .option:nth-child(3) {
  --defaultBackground:#758bfd;
}
body .options .option:nth-child(4) {
  --defaultBackground:#ff9600;
}
body .options .option:nth-child(5) {
  --defaultBackground:#758bfd;
}
body .options .option:nth-child(6) {
  --defaultBackground:#ff9600;
}
body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 30px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
body .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
body .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
body .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
body .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
body .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
body .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
body .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
body .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
body .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
body .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
body .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
body .options .option .label .info .sub {
  transition-delay: 0.1s;
}

/* fin seccion testimonio  */

/* seccion contacto */

.contacto {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map img {
  height: 525px;
  object-fit: cover;
  border-radius: 30px 0px 0px 30px;
  right: 0;
  position: absolute;
  filter: opacity(0.7);
}

/* CONTACT
========================================== */
.contact-area {
  width: 100%;
  height: 70vh;
  position: relative;
}

.contact {
  position: relative;
  max-width: 60%;
  padding: 30px 20px 40px 20px;
  overflow: hidden;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .contact {
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.contact main {
  float: left;
  width: 100%;
  position: relative;
}
.contact main section {
  border-radius: 30px;
  float: left;
  width: 100%;
  background-color: #758bfd;
}
.contact main section .content {
  float: left;
  width: 100%;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
}
@media (min-width: 414px) {
  .contact main section .content {
    text-align: left;
  }
}
.contact main section .content img {
  display: inline-block;
  width: 150px;
  border-radius: 50%;
}
@media (min-width: 414px) {
  .contact main section .content img {
    float: left;
    margin-right: 10%;
  }
}
.contact main section .content aside {
  float: left;
  width: 100%;
  color: #ffffff;
  margin-top: 10px;
}
@media (min-width: 414px) {
  .contact main section .content aside {
    width: 60%;
  }
}
.contact main section .content aside h1 {
  font-weight: 500;
  font-size: 1.75em;
  margin-bottom: 20px;
}
.contact main section .content aside p {
  font-size: 1.2em;
  font-weight: 400;
  color: #f1f2f4;
  letter-spacing: 0.5px;
  line-height: 160%;
}
.contact main .titlee {
  float: left;
  width: 100%;
  background-color: #27187e;
  max-height: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}
.contact main .titlee.active {
  max-height: 125px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}
.contact main .titlee.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: 0.2s;
}
.contact main .titlee p {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 1.2em;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.contact main .btnwhats {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: #ff9600;
  color: #f1f2f4;
  border: 0;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: -24px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: 0.1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
}
.contact main .btnwhats span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: 0.4s;
  display: block;
  width: 200px;
  float: left;
  padding: 15px 0px;
}
.contact main .btnwhats svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.contact main .btnwhats svg path {
  fill: #27187e;
}
.contact main .btnwhats.active {
  margin-right: 0;
  right: 20px;
  width: 65px;
  height: 65px;
  margin-bottom: -32.5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.contact main .btnwhats.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 200px;
}
.contact main .btnwhats.active svg {
  opacity: 1;
  transition-delay: 0.5s;
}
.contact .nave {
  float: left;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .nave.active {
  max-height: 600px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.contact .nave.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.contact .nave.active a:nth-of-type(1) {
  transition-delay: 0.5s;
}
.contact .nave.active a:nth-of-type(2) {
  transition-delay: 0.7s;
}
.contact .nave.active a:nth-of-type(3) {
  transition-delay: 0.9s;
}
.contact .nave a {
  float: left;
  width: 100%;
  margin-top: 18px;
  background-color: #ffffff;
  padding: 18px 20px;
  border-radius: 30px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}
@media (min-width: 414px) {
  .contact .nave a {
    padding: 18px 30px;
  }
}
.contact .nave a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact .nave a .arrow path {
  fill: #ccc;
}
.contact .nave a.whatsapp .icon svg {
  background-color: #758bfd;
}
.contact .nave a.whatsapp .content h1 {
  color: #758bfd;
}

.contact .nave a .icon {
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.contact .nave a .icon svg {
  width: 100%;
  height: 100%;
  padding: 1em;
}
.contact .nave a .icon svg path {
  fill: #ffffff;
}
.contact .nave a .content h1 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 1px;
}
.contact .nave a .content span {
  margin-left: 10%;
  font-size: 1em;
  color: #666;
  display: block;
  letter-spacing: 0.4px;
}

/* fin seccion contacto */

/* inicio secccion footer */

footer {
  height: 50px;
  background-color: #303030;
}

/*corazon encontrado en el footer */
.heart-icon { color: #ff9600; background: #303030;}

/* texto que esta adentro del footer */
footer p {
    padding: 20px 0 5px 0;
    width: auto;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 0.95em;
    background: #303030;
    font-weight: 400;
}